body{
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:auto;
	
}
.page{
	display:flex;
	justify-content:space-between;
	flex-direction: column;
	width:800px;
	align-items:center;
	
}
.affichage{
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	width:100%;
}
#carreR{
	border-style: dotted;
	color:red;
	border-color: red;
	border-width: 4px;
	width: 200px;
	height:200px;
}

#carreB{
	border-style: dashed;
	color:blue;
	border-color: blue;
	border-width: 4px;
	width: 200px;
	height:200px;
}

#carreV{
	border-style: solid;
	color:green;
	border-color: green;
	border-width: 4px;
	width: 200px;
	height:200px;
}
